body {font-family: 'Poppins', sans-serif;}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.pocetak {
    padding-top: 30px;
    background-color: #fff;
    background-image: url("../img/krugovi2.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100% auto;
}

.bg-dark {
    background-color: transparent !important;
}
/*.navbar-collapse {
    font-size: 1.25em;
}*/
.navbar-collapse .btn {
    background-color: #fff;
    border-radius: 38px;
}
.navbar-collapse .btn .log {
    color: #29E4B7;
}
.navbar-collapse .btn .reg {
    color: #202646;
}
.navbar-collapse .btn {
    padding: 15px 30px;
    font-size: 20px;
}

@media (min-width: 768px) {
    .navbar-dark .navbar-nav .nav-link {        
        width: 95px;
        text-align: center;
        color: #fff;
        opacity: 1;
        
   }
   .navbar-dark .navbar-nav .nav-link:hover {
       font-weight: bold;
       color: #fff;
       transition: 0.3s all;
   }

}

.mobilni-telefon{ display: inline-block; border-radius: 60px; box-shadow: 0 0 60px 40px rgba(180,180,180,.3); background-color: #fff;}