body {
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

h1, h4 {
    font-weight: bold;
}

h1 {
    font-size: 46px;
    margin-bottom: 20px;
    margin-top: 80px;
}

.pocetak {
    padding-top: 30px;
    background-color: #fff;
    background-image: url("../img/krugovi2.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100% auto;
}

.bg-dark {
    background-color: transparent !important;
}

.navbar-collapse .btn, .part1 .btn {
    background-color: #fff;
    border-radius: 38px;
    padding: 15px 30px;
    font-size: 20px;
}

.navbar-collapse .btn .log {
    color: #29E4B7;
}

.navbar-collapse .btn .reg, .part1 .btn {
    color: #202646;
}

.part1 {
    margin-top: 40px;
    color: #fff;
}

footer {
    background-color: #202646;
}

.mobilni-telefon {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 60px 40px rgba(180, 180, 180, .3);
    background-color: #fff;
}

.about {
    padding: 40px 0;
}

.about-text {
    padding: 20px;
}

.ab-ap {
    padding: 40px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.ab-ap h3 {
    margin-bottom: 40px;
}

.ab-img {
    width: 60px;
    height: 60px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: .35s ease-in-out;
    background: #F3F5F8;
}

.ab-img:hover {
    background: #29E4B7;
}

.img-ap img {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 767px) {
    .ab-ap {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .navbar-dark .navbar-nav .nav-link {
        width: 95px;
        text-align: center;
        color: #fff;
        opacity: 1;
    }
    .navbar-dark .navbar-nav .nav-link:hover {
        font-weight: bold;
        color: #fff;
        transition: 0.3s all;
    }
}

@media (min-width: 1200px) {
    .about-text {
        padding: 40px;
    }
}